/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e5d8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Sección de contactos */
section {
    margin-top: 30px;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
    padding: 5px;
}

/* Footer */
footer {
    background-color: #5d4037;
    color: #fff;
    text-align: center;
}
