body {
    background-color: #f0e5d8;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #8B4513; /* Brown */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


#login {
    background-color: #8B4513; /* Brown */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#login:hover {
    background-color: #A0522D; /* Sienna */
}

.header-section {
    background-color: #d2691e; /* Chocolate */
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

section {
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}

section img {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    max-height: 300px;
    max-width: 500px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #8B4513; /* Brown */
    color: #fff;
    border-radius: 5px;
}

