/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e5d8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Encabezado de productos */
.header-productos {
    background-color: #795548;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Tarjetas de productos */
.card {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: inline-block;
}

.card-img-top {
    object-fit: cover;
    padding: 5px;
}

/* Modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Botones */
.btn-primary {
    background-color: #795548;
    border: none;
}

/* Footer */
footer {
    background-color: #5d4037;
    color: #fff;
    text-align: center;
}

/* Otros estilos según tus necesidades */
